commands:
  install_registry_image:
    command: wget -q -O - https://gist.githubusercontent.com/bonty/a052854464c741712bb5/raw | bash
    ignoreErrors: true

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/02start_docker_registry.sh":
    mode: "000755"
    owner: root
    group: root
    source: https://gist.githubusercontent.com/bonty/d196267257acfb07b139/raw

  "/opt/elasticbeanstalk/hooks/appdeploy/post/00stop_docker_registry.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/sh
      docker stop registry
      docker rm registry
      exit 0
